name: mobileraker_pro
description: Obfuscated version of the pro lib of mobileraker
version: 2.6.7
homepage: mobileraker.com

environment:
  sdk: '>=3.2.3 <4.0.0'
  flutter: '>=3.16.5'

dependencies:
  flutter:
    sdk: flutter

  #packages maintained by mobileraker
  common:
    path: ../mobileraker/common

  firebase_core: ^2.24.2

  freezed_annotation: ^2.1.0
  flutter_hooks: ^0.20.1
  hooks_riverpod: ^2.3.8
  riverpod_annotation: ^2.1.2


  logger: ^1.3.0
  dio: ^5.3.3
  flutter_webrtc: ^0.9.45

  easy_localization: ^3.0.3

  flutter_spinkit: ^5.1.0
  progress_indicators: ^1.0.0
  flutter_slidable: ^3.0.0
  cached_network_image: ^3.3.0

  rxdart: ^0.27.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1
  custom_lint: ^0.5.3
  build_runner: ^2.4.7
  freezed: ^2.2.1
  mockito: ^5.3.2
  json_serializable: ^6.4.1
  riverpod_generator: ^2.3.9
  # riverpod_lint makes it easier to work with Riverpod
  riverpod_lint: ^2.0.1



# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

# To add assets to your package, add an assets section, like this:
# assets:
#   - images/a_dot_burr.jpeg
#   - images/a_dot_ham.jpeg
#
# For details regarding assets in packages, see
# https://flutter.dev/assets-and-images/#from-packages
#
# An image asset can refer to one or more resolution-specific "variants", see
# https://flutter.dev/assets-and-images/#resolution-aware

# To add custom fonts to your package, add a fonts section here,
# in this "flutter" section. Each entry in this list should have a
# "family" key with the font family name, and a "fonts" key with a
# list giving the asset and other descriptors for the font. For
# example:
# fonts:
#   - family: Schyler
#     fonts:
#       - asset: fonts/Schyler-Regular.ttf
#       - asset: fonts/Schyler-Italic.ttf
#         style: italic
#   - family: Trajan Pro
#     fonts:
#       - asset: fonts/TrajanPro.ttf
#       - asset: fonts/TrajanPro_Bold.ttf
#         weight: 700
#
# For details regarding fonts in packages, see
# https://flutter.dev/custom-fonts/#from-packages
